*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #0a0a23;
  --light-grey: #f5f6f7;
  --white: #ffffff;
  --black: #000;
}

body {
  /* background-color: var(--dark-grey); */
  background-color: #111;
  text-align: center;
  padding: 10px;
}

.title,
.options-label,
.team-stats,
footer {
  color: var(--white);
}

.title {
  margin: 1.3rem 0;
}

.team-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

.filter-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
}

.options-label {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player-card {
  background-color: var(--light-grey);
  line-height: 2rem;
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  border-radius: 15px;
}

.player-card h2{
    margin-bottom: 1rem;
}

.player-card span{
    font-weight: 1000;
}

.player-card a{
    
    color:#0a0a23;
    cursor: pointer;
}

@media (max-width: 768px) {
  .team-stats {
    flex-direction: column;
  }
}
